label{
	color: white;
}

nav{
	background-color: #EABCAC;
}

#daftar{
	margin: 200px; padding: 25px; margin-top: 30px; margin-bottom: 30px; background-color:  #874E4C;
}

h2{
	padding-bottom: 20px; 
}
